#main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    /* background-color: pink; */
}

#content {
    display: flex;
    flex-direction: column;
    width: 350px;
}

#toolbar {
    width: 200px;
}

#title {
    font-family: sans-serif;
    font-size: 36px;
    color: #222222;
}

.sectionHeader {
    font-family: sans-serif;
    font-size: 18px;
}

.sectionContainer {
    margin-bottom: 20px;
}

.buttonContainer {
    margin-bottom: 20px;
}

#inputTextarea {
    width: 300px;
    height: 100px;
    resize: none;
}

.radioContainer {
    display: flex;
    width: 150px;
    place-content: space-between;
}

.subsectionContainer {
    margin-bottom: 20px;
}

#toolbar {
    margin-top: 62px;
}

fieldset {
    margin: 0;
    border: 0;
    padding: 0;
}

#duplicateHandlingRadioFieldset {
    margin-bottom: 20px;
}

legend {
    margin-bottom: 5px;
}

#ignoreCaseCheckbox {
    margin-top: 18px;
}
